stock_screener_task:
  description: >
    分析用户提供的股票清单{stock_list}，以当前时间是{end_date}为基准进行专业筛选。
    你必须依赖以下策略和市场共识进行推理，从这份清单中筛选出最有可能在下下一个交易日大幅上涨甚至涨停的40只股票。
      1.使用深度思考加联网搜索筛选，当前时间{end_date}最近一天内，国家政策，市场舆情，行业相关，国际舆情，个股公告出现超级利好以至于诱发涨停的股票
      2.筛选分散偏好: 为了规避黑天鹅风险并提高命中率，你的最终选择应该覆盖不同的代码段。

  expected_output: >
    输出精选股票报告
      1.必须从待选股票清单中筛选
      2.报告必须包含股票代码，股票名称，优劣势分析，下下一个交易日涨停或者大幅度上涨的理由（必须深刻思考加联网搜索，并输出思考过程和搜索论点支持）
      3.报告内容必须包含股票代码列表JSON，格式为{'stock_list': ['股票代码', ...]}
  agent: stock_screener
  output_file: output/stock_screener.md
