data_task:
  description: >
    输出交易数据报告
      1.分析交易数据：{stock_data}
      2.根据以上数据，进行数据质量评估，包含完整性分析（以总记录数评估），可靠性分析（以技术指标，数据字段评估）。
      3.对标股票{symbol}的数据进行总结分析
      4.以当前时间{end_date}为基准的，根据最近30天上证交易数据，深证交易数据以及联网搜索深度思考，大盘趋势分析（必须给出详细理由）
      5.基于近期波动率评估风险控制重点
        识别当前趋势状态（上涨/下跌/盘整）及强度
        分析关键支撑位和阻力位水平
        评估超买超卖状态（RSI分析）
        识别量价背离或其他异常信号
        使用ATR(14)评估下一个交易日交易决策
        评估黑天鹅事件的风险概率
  expected_output: >
    输出目标股票{symbol}交易数据的总结性报告（报告必须是中文）
    1.以股票代码加股票中文名称加交易数据报告加{end_date}作为标题
    2.报告必须包含大盘最近数据分析，下一个交易日大盘趋势，下下个交易日的大盘趋势
    3.报告必须包含基于近期波动率评估风险控制重点的分析报告
    4.报告必须包含股票{symbol}最近30天的交易数据，包括最近30天的开盘价、收盘价、最高价、最低价、成交量、成交额等等。
  agent: data_engineer
  output_file: output/{symbol}/{file_date}/data_report.md
