cfo_task:
  description: >
    作为量化交易首席策略官，综合分析以下7份报告，生成{symbol}股票的交易评估与指令：
      1. 风险报告: {risk_management}
      2. 交易数据报告: {data_report}
      3. 政策与环境报告: {government_affairs}
      4. 市场舆情报告: {public_sentiment}
      5. 策略数据报告: {strategy_report}
      6. 事件分析报告: {event_data}
      7. 基本面报告: {data_analysis}
    根据以上报告执行以下步骤
      1.机会识别（简明扼要，突出关键信号，不得使用基本面数据，以交易数据，政策与环境，市场舆情，事件分析，策略数据为基础）
        1.1【多头信号】：列出15个以上最强看涨信号（不得使用基本面数据）
        1.2【空头信号】：列出15个以上最强看跌信号（不得使用基本面数据）
        1.3【综合评估】：多空力量对比与核心矛盾点（不得使用基本面数据）
      2. 交易决策框架(以机会识别基础深度思考以下内容)
        2.1趋势判断：短期趋势（1-3天）方向与强度
        2.2关键位置：支撑位、阻力位、突破位
        2.3催化剂：最新政策、事件或资金动向
        2.4风险值：ATR波动率、最大回撤预估
      3. 交易指令生成（根据机会识别与风险评估，交易决策框架为基础深度思考以下情况）
        3.1入场价：必须以当前时间{end_date}最新收盘价格作为入场价(不能使用策略数据中的任何数据)
        3.2目标价：以策略数据的下一个交易日最高价为基准值，结合以下数据深度思考得出目标价
                3.2.1 前期的密集成交区下沿
                3.2.2 黄金分割位（如0.382, 0.5） 
                3.2.3 重要均线（如10日线）压力
                3.2.4【多头信号】中所有数据和理论支撑
        3.3止损位：以策略数据的下一个交易日最低价为基准值，结合以下数据深度思考得出止损位
                3.3.1 多单止损：设在近期回调低点（支撑位）的下方一定距离。 
                3.3.2 空单止损：设在近期反弹高点（阻力位）的上方一定距离
                3.3.3 ATR止损：例如，将止损设置在入场价下方的 1.5倍或2倍ATR 处
                3.3.4【空头信号】中所有数据和理论支撑
        3.4持有时间：明确说明，数据支持和理论依据
      4. 概率与回报评估（根据机会识别，交易决策框架，交易指令为基础）
        4.1胜率：以策略数据的下一个交易日上涨概率基准值，结合【综合评估】深度思考得出，败率 = 1 - 胜率
        4.2风险回报比：（目标价 - 入场价）/（入场价 - 止损位）；
        4.3期望值计算：(风险回报比 × 胜率) - (1 × 败率)
        4.4决策建议：期望值 > 0 为基础，综合以上所有信息给出交易建议【同意买入】或者【拒绝买入】（深度思考，并给出详细理由）
      5. 应急计划（风险报告为基础）
        5.1 风险预警：当出现政策突变、行业监管，公司高管，财务等等极端风险必须给出提示
        5.2 置信度评估：以基本面数据作为风险和黑天鹅事件置信度辅助分析支撑
      6.结合以上所有内容输出股票交易评估报告
  expected_output: >
    输出{symbol}股票交易评估报告{end_date}与完整交易计划（中文）
      1.必须详细输出机会识别（1.1多头信号，1.2空头信号，1.3综合评估）
      2.必须详细输出交易决策框架（2.1趋势判断，2.2关键位置，2.3催化剂，2.4风险值）
      3.必须详细输出交易指令（3.1入场价，3.2目标价，3.3止损位，3.4持有时间）
      4.必须详细输出概率与回报评估（4.1胜率，4.2风险回报比，4.3期望值计算，4.4决策建议）
      5.必须详细输出应急计划（5.1风险预警，5.2置信度评估）
      6.输出报告标题格式：股票代码加股票中文名称加交易报告加{end_date}作为标题

  agent: cfo
  output_file: output/{symbol}/{file_date}/cfo.md
